<<<<<<< HEAD
:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
  }
  
  .container-xxl { max-width: 1530px; }
  
  body {
    background-image: url("/img/i-like-food.svg");
    background-color: rgb(243,243,243);
  }
  
  a { color: var(--bs-dark); }
  
  
  /* Category Card */
  .category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
  }
  
  .category__link:hover {
    transform: scale(1.1);
  }
  
  .category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
  }
  
  .category__img--large {
    height: 330px;
  }
  
  .category__img img {
    width: 100%;
    object-fit: cover;
  }
=======
:root{
    --bs-font-sans-serif:'Rubik',sans-serif;
}
.container-xxL{
    max-width: 1530px;
}
body{
    background-image: url("food.svg");
    background-color: rgb(rgb(230, 226, 226), rgb(232, 235, 232), rgb(234, 234, 239));
}
a{
    color: var(--bs-dark);
}
>>>>>>> 40382d3b0b471bff4769d59b78ba05eaee0535c2
